In [1]:
import pandas as pd

In [4]:
df=pd.read_gbq(f"""
     
    SELECT 
    min(dropoff_latitude) as min_dropoff_latitude,
    min(pickup_latitude) as min_pickup_latitude,
    min(dropoff_longitude) as min_dropoff_longitude,
    min(pickup_longitude) as min_pickup_longitude,
    
    max(dropoff_latitude) as max_dropoff_latitude,
    max(pickup_latitude) as max_pickup_latitude,
    max(dropoff_longitude) as max_dropoff_longitude,
    max(pickup_longitude) as max_pickup_longitude
    
    FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`    
    where 
    # reproducibility constraints
            trip_start_timestamp <= TIMESTAMP("2021-03-01 00:00:00 UTC")
        AND trip_start_timestamp >= TIMESTAMP("2013-01-01 00:00:00 UTC")

        # label constraints
        AND trip_seconds is not null
        AND trip_seconds > 0
        AND trip_total   is not null
        AND trip_total   > 0

        # feature nullability constraints
        AND trip_miles             is not null
        AND pickup_census_tract    is not null
        AND dropoff_census_tract   is not null
        AND pickup_community_area  is not null
        AND dropoff_community_area is not null
        AND company                is not null
        AND pickup_latitude        is not null
        AND pickup_longitude       is not null
        AND dropoff_latitude       is not null
        AND dropoff_longitude      is not null
        AND EXTRACT(YEAR from trip_start_timestamp) >= 2017 
        AND NOT (EXTRACT(YEAR from trip_start_timestamp) = 2018 AND EXTRACT(MONTH from trip_start_timestamp) > 3) #ONLY FIRST 3 MONTHS OF 2018 AS EVAL SET
        and trip_miles   > 0 
        AND trip_seconds > 0 
        AND trip_total   > 0  
        AND ABS(dropoff_latitude-pickup_latitude) + ABS(dropoff_longitude-pickup_longitude) > 0 # L1 distance
    
""")
df

,min_dropoff_latitude,min_pickup_latitude,min_dropoff_longitude,min_pickup_longitude,max_dropoff_latitude,max_pickup_latitude,max_dropoff_longitude,max_pickup_longitude
0,41.66376,41.650222,-87.90304,-87.90304,42.021224,42.021224,-87.531386,-87.54701

In [ ]:
# pickup_latitude   41.650222, 42.021224
# pickup_longitude  -87.90304, -87.54701
# dropoff_latitude   41.66376, 42.021224
# dropoff_longitude -87.90304, -87.531386